@import './sass/utils/mixins';

$colors : (
    'facebook': #1877f2,
    'twitter': #1da1f2,
    'youtube': #ff0000,
    'linkedin': #0a66c2,
    'instagram': #c32aa3,
);

@each $name, $color in $colors {
    .#{$name} {
        --white: #ffffff;
        --color: #{$color};
        --light-color: #{lighten($color, 20%)};
        --dark-color: #{darken( $color, 20% )};
    }
}

.facebook {
    background: linear-gradient( var(--light-color), var(--dark-color) );
    color: var(--white);
    padding: 10px 30px;

    @include mobile {
        padding: 5px 15px;
    }

    @include tablet {
        padding: 10px;
    }
}

.youtube {
    background: linear-gradient( var(--light-color), var(--dark-color) );
    color: var(--white);
    padding: 10px 30px;
}

.facebook:hover {
    background-color: var(--dark-color);
}